@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@400;900&family=Montserrat:wght@300;400;600;800&family=Roboto&display=swap");

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #191919;
}

#preloader{
    background: rgba(255, 255, 255, .9) url(images/pre-loader1.gif) no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9999;
}

.section-lg{
    padding: 50px 0px;
}

.scroll-top.open {
    bottom: 30px;
}
.scroll-top {
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    bottom: 105%;
    right: 50px;
    font-size: 16px;
    border-radius: 5px;
    z-index: 99;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    background: #284830;
    transition: 1s ease;
    border: none;
}

.scroll-top.open:hover{
    cursor: pointer;
    background-color: #4b4b4b;
}

.scroll-top:after {
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 1;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}

.scroll-top span {
    color: #fff;
}


html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
html::-webkit-scrollbar{        
    width: .8rem;
    }
html::-webkit-scrollbar-track{
        background: transparent;
    }
html::-webkit-scrollbar-thumb{
        background: #ffbc13;
    }


.headings{
    text-transform: uppercase;
    font-size: 30px;
    color: #4b4b4b;
    text-align: center;
    margin: 0;
    font-weight: 600;
}

.headings hr{
    width: 70px;
    border: 2px solid #ffbc13;
    opacity: 1;
    display: flex;
    margin: 0px auto;
    margin-top: 15px;
}

.phone, #menuToggle, .content{
    display: none !important;
}
.container-fluid{
    padding: 0;
    margin: 0;
}


#site-header-wrap {
    width: 100%;
    background-color: rgba(255,255,255,0.1);
    z-index: 999;
}

#top-bar, #top-bar a {
    color: #fff;
}

#top-bar {
    font-size: 14px;
    background: #284830;
}

#top-bar-inner {
    padding: 8px 0px;
}

#top-bar .top-bar-inner-wrap {
    display: table;
    overflow: hidden;
    width: 100%;
}

#top-bar.style-2 .top-bar-socials {
    text-align: left;
}

#top-bar .top-bar-socials {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    width: 25%;
}

#top-bar.style-2 .top-bar-socials .icons a:first-child {
    margin-left: 0;
}

#top-bar .top-bar-socials .icons a {
    position: relative;
    z-index: 1;
    font-size: 14px;
    color: #fff;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin: 0 0 0 8px;
    text-align: center;
    display: inline-block;
}

#top-bar .top-bar-content {
    display: table-cell;
    margin: 0;
    vertical-align: middle;
    width: 75%;
}

#top-bar.style-2 .top-bar-content {
    text-align: right;
}

#top-bar .top-bar-content i.fa-phone-square, #top-bar .top-bar-content i.fa-envelope {
    color: #fff;
    font-size: 14px;
    margin-right: 12px;
}

i.fa.fa-phone-square{
    margin-right: 12px;
}
/* 
    #site-header {
    background-color: transparent !important;
} */

#site-header {
    background-color: #fff;
    padding: 10px 0px;
}

a {
    /* color: #ffbc13; */
    outline: 0;
    text-decoration: none;
    transition: all ease .238s;
}

.wrap-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#site-header-inner {
    position: relative;
    transition: all ease .238s;
}

.main-logo img{
    width: 80px;
}

#main-nav ul{
    display: flex;
    gap: 10px;
    margin-bottom: 0;
}

#main-nav ul li{
    padding: 0px 15px;
}

#main-nav ul li:last-child{
    padding-right: 0;
}

#main-nav ul li a{
    font-weight: 600;
    color: #4b4b4b;
    padding-bottom: 5px;
}

#main-nav ul li a:hover{
    color: #ffbc13;
}

#main-nav ul li a.active{
    border-bottom: 2px solid #ffbc13;
}


/* service page content */

.service-title{
    background: #f8f8f8;
}

.service-title-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
}

.title-heading-wrap h3{
    font-size: 30px;
    color: #4b4b4b;
    margin-bottom: 0;
}

.service-page-content hr{
    width: 70px;
    border: 2px solid #ffbc13;
    opacity: 1;
    display: flex;
    margin: 0px auto;
    margin-top: 15px;
}

.breadcrumbs span{
    font-size: 13px;
}

.breadcrumbs span:first-child{
    color: #ffbc13;
}

.what-we-offer hr{
    width: 70px;
    border: 2px solid #ffbc13;
    opacity: 1;
    margin: 0;
    margin-top: 15px;
}

.wwo-inner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    row-gap: 100px;
}

.wwo-item img{
    width: 100%;
    border-radius: 15px;
}

    .contact-section{
        background-color: #284830;
    }

    .contact-section .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .contact-section .container p{
        width: 75%;
    }

    .contact-section .container .contact-btn{
        background-color: #fff;
        color: #191919;
        padding: 10px 25px;
        border-radius: 5px;
        font-weight: 500;
    }

.read-more{
    padding: 10px 25px;
    background-color: #ffbc13;
    color: #fff;
    border-radius: 5px;
    transition: all ease .238s;
}

.read-more:hover{
    background-color: #4b4b4b;
    color: #fff;
}

.service-content-heading{
    font-size: 20px;
    font-weight: 600;
    color: #4b4b4b;
}

.service-content p{
    font-size: 14px;
    color: #777;
    margin: 0;
}



/* about page content */

.about-page-content hr{
    width: 70px;
    border: 2px solid #ffbc13;
    opacity: 1;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}
.about-page-content img{
    width: 100%;
}

.about-page-content p{
    color: #4b4b4b;
}

.about-page-content p span{
    font-weight: 600;
}

.about-img img{
    width: 100%;
}

.about-swiper{
    padding-top: 50px !important;
    padding-bottom: 0 !important;
}

.counts{
    background-image: url(images/facts-bg.jpg);
    background-position: center center;
}

.counters{
    display: flex;
    justify-content: space-between;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.box h2{
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 60px;
    margin-bottom: 0;
    }

.box p{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: .5px;
    font-weight: 600;
}


.swiper-wrapper{
    padding: 50px 0px;
}

.swiper-slide img{
    width: 100%;
    border-radius: 10px;
}

.swiper-button-next, 
.swiper-button-prev{
    top: 24px;
    bottom: 0;
    height: 30px;
    left: initial;
    right: 0;
    border: 2px solid #ffbc13;

}

.swiper-button-prev.swiper-button-disabled,.swiper-button-next.swiper-button-disabled{
    border: 2px solid rgba(75, 75, 75,1);
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}

.swiper-button-prev.swiper-button-disabled::after,.swiper-button-next.swiper-button-disabled::after {
    color: #4b4b4b;
    cursor: auto;
    pointer-events: none;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 13px;
    font-weight: 600;
    color: #ffbc13;
}

.swiper-button-prev{
    right: 45px;
}

.team-slide img{
    width: 100%;
}

.team-section hr{
    width: 70px;
    border: 2px solid #ffbc13;
    opacity: 1;
    margin: 0;
    margin-top: 15px;
}

.team-names{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px 0px;
}

.team-names p{
    margin: 0;
    color: #4b4b4b;
}

.team-names p:first-child{
    font-size: 20px;
    font-weight: 600;
}

.team-names p:nth-child(2){
    font-size: 17px;
    color: #777;
}


/* contact page */

.contact-page-content p{
    color: #777;
    line-height: 2;
    font-size: 14px;
}

.contact-page-content .link {
    display: flex;
    gap: 20px;
    align-items: baseline;
}

.link i{
    color: #777;
    background: #f8f8f8;
    padding: 10px;
}

.link a{
    color: #777;
}


.contact1{
    display: flex;
    gap: 20px;
}

#contact-form{
    /* width: 500px; */
    margin: 0 auto;
  }
  
  #contact-form input, #contact-form textarea {
    width: 100%;
    padding: 10px;
    color: #777;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
  }

  #contact-form textarea {
    height: 250px;
  }

  #contact-form input::placeholder, #contact-form textarea::placeholder{
    color: #ccc;
  }

  .submit-btn{
    color: #fff;
    border: 1px solid #ffbc13;
    background-color: #ffbc13;
    border-radius: 5px;
    display: flex;
    width: max-content;
    margin: 0px auto;
    font-size: 20px;
    padding: 10px 25px;
  }

  .submit-btn:hover{
    background-color: #4b4b4b;
    color: #fff;
    cursor: pointer;
  }



/* portfolio */

.project-heading hr{
    width: 70px;
    border: 2px solid #ffbc13;
    opacity: 1;
    display: flex;
    margin: 0px auto;
    margin-top: 15px;
}

.portfolio-page-content p{
    color: #4b4b4b;
    width: 70%;
    display: flex;
    margin: 0px auto;
}

.tabs-mobile{
    display: none;
}

.menuDiv{
    display: flex;
    flex-direction: column;
    border: 1px solid #ffbc13;
    height: 42px;
    overflow: hidden;
    z-index: 1111;
    position: relative;
    background: #fff;
}

button.menuDivDefault, button.menuDivOptions{
    padding: 8px 20px;
    border: none;
    background: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    color: #1a1a1a;
}

button.menuDivOptions{
    color: #1a1a1a;
}

.mH{
    height: max-content;
}

#menuDefaultImg{
    width: 20px;
}


  .TabButton {
      color: #4b4b4b;
      padding: 10px 25px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 500;
  }
  .TabButtonSelected {
      background-color: #284830;
      color: #fff;
      font-weight: 600;
  }
  .d-chart-n {
    display: none;
  }
  
  .d-chart-show {
    display: block;
  }

  .all-swiper{
    padding: 0 !important;
  }


/* service-inner page */

.service-detail-desc hr{
    width: 70px;
    border: 2px solid #ffbc13;
    opacity: 1;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 15px;
}

.service-detail-desc{
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 50px;
    align-items: center;
}

.sipc-right img{
    width: 100%;
    border-radius: 15px;
}

.service-highlights{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    align-items: center;
}

.left-sh img{
    width: 100%;
    border-radius: 15px;
}

.right-sh ul{
    margin-top: 30px;
}

.right-sh hr{
    width: 70px;
    border: 2px solid #ffbc13;
    opacity: 1;
    display: flex;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 15px;
}

.right-sh ul li{
    padding: 5px 0px;
    list-style-type: disc;
}

/* footer */

#footer {
    background-color: #1a1a1a;
    position: relative;
    z-index: 1;
    color: #979797;
}

#footer hr{
    width: 70px;
    border: 2px solid #ffbc13;
    opacity: 1;
    margin-top: 15px;
}

#footer h5{
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}


ul{
    list-style-type: none;
    padding: 0%;
}

.links li a{
    color: #979797;
}

.links li{
    padding: 5px 0px;
}

.links li i{
    color: #979797;
    padding-right: 10px;
}

.links li a:hover{
    color: #ffbc13;
}

.about-footer-content img{
    width: 80px;
    height: 65px;
}

.about-footer-content p{
    font-size: 14px;
    padding-top: 15px;
    margin: 0;
}

.contact-links {
    display: flex;
    gap: 15px;
}

.contact-links h6 {
    margin: 0;
    font-weight: 600;
}

.contact-links p a span,.contact-links p{
    font-size: 14px;
    color: #979797;
}

/********** MOBILE HEADER ************/


.mobile-header{
    display: none;
}

.mobile-menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #132b2c;
    padding: 10px;
}

.mobile-menu-container .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.mobile-menu-container .logo p{
    line-height: 1;
    display: none;
}

/* mobile menu css */

.canva_expander {
    cursor: pointer;
    display: block;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.canva_expander span {
    height: 2px;
    width: 35px;
    display: block;
    background: #fff;
    cursor: pointer;
    list-style: none;
    margin: 8px 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    margin-left: auto;
}

.canva_expander span.dot2 {
    width: 27px;
}

.canva_expander span.dot4 {
    width: 22px;
}


.hamburger {
    position: absolute;
    top: 20px;
    right: 15px;
    /* line-height: 20px; */
    padding: 5px;
    /* border-radius: 5px; */
    color: #132b2c;
    border: 0;
    font-size: 30px;
    font-weight: bold;
    outline: none;
    z-index: 1111;
    background: none;
}

.cross{
  background:none;
  position:absolute;
  top:5px;
  right:15px;
  padding:7px 15px 0px 15px;
  color:#132b2c;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:22222;
}
#menu{z-index:1111; font-weight:bold; font-size:16px; width:100%; background-color: #fff;  position:absolute; text-align:center; font-size:12px; top: 0; left: 0;min-height: 100%;}
#menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none; padding-top: 80px;}
#menu li {display: block;   padding:20px 0 20px 0;  font-weight: 700;}
#menu li:hover{display: block;    background-color: #fff;}
#menu ul li a { text-decoration:none;  margin: 0px; color:#132b2c;font-size: 14px;}
#menu ul li a:hover {  color: #132b2c; text-decoration:none;}
#menu a{text-decoration:none; color:#132b2c;}

.nav__sub li{
    padding: 10px 0px !important;
}

.fa-chevron-right{
    font-size: 12px;
}

.glyphicon-home{
  color: #132b2c; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}


.nav__item , .nav__item {
	margin-top: 10px;
}

#menu ul .nav__link {
	font-weight: 600;
	color: #27826f;
    /* font-family: 'myregularfont'; */
	text-decoration: none;
}

#menu ul .nav__sub {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
    height: 100vh;
	background-color: #fff;
  color: #27826f;
	opacity: 0;
	display: none;
	transition: all 0.35s ease-in-out;
	transform: translateX(100%);
}

#menu ul .nav__sub.is-active {
  opacity: 1;
  display: block;
  transform: translateX(0%);
}

#menu ul .nav__sub {
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px;
	list-style-type: none;
}

.contact-btn-mobile{
    border-radius: 5px;
    display: flex;
    margin: 0 auto;
    width: max-content;
    border: 1px solid #27826f;
    padding: 10px 20px !important;
    margin-top: 10px;
}

.hamburger, .cross, #menu{
  display: none;
}

.logo img{
    width: 80px;
    height: 50px;
    /* background-color: #fff; */
}

.enquiry-form-section{
    display: none;
}


@media screen and (max-width:576px) {
    .mobile-header{
        display: block;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        z-index: 1111;
    }

    p, .about-content, .facts-content p{
        font-size: 14px;
    }

    .section-lg{
        padding: 30px 30px;
    }

    .service-title-inner{
        padding: 85px 30px 30px 30px;
    }

    #site-header, #top-bar{
        display: none;
    }

    .swiper-slide img, .facts-section{
        height: auto;
    }

    .slider .list .item .content h2{
        font-size: 32px;
    }

    .slider .list .item .content{
        width: 70%;
        top: 35%;   
    }

    .services-inner, .about-inner, .wwo-inner{
        grid-template-columns: repeat(1,1fr);
        gap: 15px;
    }

    .fact-data, .wwo-inner{
        gap: 20px;
    }

    .service-content{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    p, h1, h2, h3, h4, h5, h6{
        margin: 0;
    }

    .wwo-item{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .read-more, .submit-btn{
        width: max-content;
        padding: 5px 15px;
        font-size: 14px;
    }

    .counters{
        gap: 15px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .title-heading-wrap h3, .headings, .box h2 {
        font-size: 24px;
    }

    .facts-content{
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    #footer .row{
        gap: 20px;
    }

    .service-section .container{
        padding: 0;
    }

    .links ul li a, .box p{
        font-size: 14px;
    }

    .contact-section .container{
        flex-direction: column;
        gap: 15px;
    }

    .contact-section .container p{
        width: 100%;
        text-align: center;
    }

    .tabs-desktop .d-flex{
        flex-direction: column;
    }

    .portfolio-page-content p{
        width: 100%;
    }

    .counter-section{
        padding: 0 !important;
        padding-top: 50px !important;
    }

    .team-names{
        padding: 15px;
        align-items: center;
        justify-content: center;
    }

    .team-names p:nth-child(2) {
        font-size: 14px;
        text-align: center;
    }

    .swiper-button-next, .swiper-button-prev {
    top: 30px;
    height: 25px;
    }
}
