@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #36383F;
}

.headings{
    text-transform: uppercase;
    font-size: 30px;
    color: #4b4b4b;
    text-align: center;
    margin: 0;
    font-weight: 600;
}

.headings hr{
    width: 70px;
    border: 2px solid #ffbc13;
    opacity: 1;
    display: flex;
    margin: 0px auto;
    margin-top: 15px;
}

.section-lg{
    padding: 60px 0px;
}

.scroll-top.open {
    bottom: 30px;
}
.scroll-top {
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    bottom: 105%;
    right: 50px;
    font-size: 16px;
    border-radius: 5px;
    z-index: 99;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    background: #284830;
    transition: 1s ease;
    border: none;
}

.scroll-top.open:hover{
    cursor: pointer;
    background-color: #4b4b4b;
}

.scroll-top:after {
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 1;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}

.scroll-top span {
    color: #fff;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
html::-webkit-scrollbar{        
    width: .8rem;
    }
html::-webkit-scrollbar-track{
        background: transparent;
    }
html::-webkit-scrollbar-thumb{
        background: #ffbc13;
    }

body {
    max-width: 1600px;
    margin: 0px auto;
}

img:hover{
    cursor: pointer;
}

a {
    outline: 0;
    text-decoration: none;
    transition: all ease .238s;
}

#site-header {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 0px;
}

#site-header {
    position: relative;
    z-index: 1111;
}

.wrap-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#site-header-inner {
    position: relative;
    transition: all ease .238s;
}

.main-logo img{
    width: 80px;
    background-color: #ffffff45;
    padding: 5px;
    border-radius: 5px;
}

#main-nav ul{
    display: flex;
    gap: 10px;
    margin-bottom: 0;
}

#main-nav ul li{
    padding: 0px 15px;
}

#main-nav ul li a{
    font-weight: 600;
    color: #fff;
    padding-bottom: 5px;
}

#main-nav ul li a:hover{
    color: #ffbc13;
}

#main-nav ul li a.active{
    border-bottom: 2px solid #ffbc13;
}


/* css slider */
.slider{
    height: 100vh;
    position: relative;
}
.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.slider .list .item img{
    width: 100%;
}
.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #000 0%, transparent
    );
}
.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 35%;
    width: 60%;
    z-index: 1;
    color: #fff;
}

.slider .list .item .content p{
    margin: 0;
    color: #fff;
}

.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}
.slider .list .item .content h2{
    font-size: 80px;
    margin: 0;
    font-weight: 700;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    bottom: 4%;
    right: 50px;
    z-index: 100;
}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}
.thumbnail{
    position: absolute;
    bottom: 2%;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 230px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1);
}

/* services */

.services-inner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 40px;
    gap: 25px;
}

.service-item{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    padding: 20px;
}

.service-item:hover{
    background-color: #ffbc13;
}

.service-item:hover .service-desc a{
    background-color: #fff;
    color: #294931;
}

.service-item img{
    width: 60px;
}

.service-desc{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.service-desc a{
    color: #294931;
    font-weight: 500;
    background-color: #ffbc13;
    padding: 5px 15px;
    border-radius: 5px;
}

.service-desc h6{
    color: #294931;
    font-weight: 600;
    text-align: center;
}

.service-desc p{
    font-weight: 500;
}

/* work section */

.work-section{
    background-image: url(images/works-bg.jpg);
    background-attachment: fixed;
    background-position: 50% 43px;
}

.work-section .swiper-slide img{
    position: relative;
}

.work-section .swiper-slide img {
  background: #000;
  background: linear-gradient(90deg, #000 0%, #fff 100%);
  
  display: flex;
}
.work-section .swiper-slide img {
  opacity: 1;
  width: 100%;
  transition: opacity 500ms 0ms ease-in-out;
  .work-section .swiper-slide img:hover { opacity: 1 }


}
.popup-image{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 9999;
    display: none;
}
    
.popup-image .cross-icon{
        position: absolute;
        top: 0;right: 10px;
        font-size: 60px;
        font-weight: bolder;
        color: #fff;
        cursor: pointer;
        z-index: 100;
    }

    .popup-div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.popup-image img{
        border: 5px solid #fff;
        border-radius: 5px;
        width: 100%;
    } 

    .right-popup ul li{
        padding: 5px 0px;
        font-size: 24px;
        font-weight: 600;
        color: #fff;
    }

    .right-popup ul li span{
        color: #ffbc13;
    }

    .swiper-wrapper{
        padding: 50px 0px;
    }

    .swiper-button-next, 
    .swiper-button-prev{
        top: 24px;
        bottom: 0;
        height: 30px;
        left: initial;
        right: 0;
        border: 2px solid #ffbc13;

    }

    .swiper-button-prev.swiper-button-disabled,.swiper-button-next.swiper-button-disabled{
        border: 2px solid rgba(75, 75, 75,1);
        opacity: .35;
        cursor: auto;
        pointer-events: none;
    }

    .swiper-button-prev.swiper-button-disabled::after,.swiper-button-next.swiper-button-disabled::after {
        color: #4b4b4b;
        cursor: auto;
        pointer-events: none;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after{
        font-size: 13px;
        font-weight: 600;
        color: #ffbc13;
    }

    .swiper-button-prev{
        right: 45px;
    }

    .swiper-slide img{
        width: 100%;
        height: 400px;
        border-radius: 15px;
    }


/* about */

.about-section hr {
    width: 70px;
    border: 2px solid #ffbc13;
    opacity: 1;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 15px;
}

.about-inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    align-items: center;
}

.left-about img{
    width: 100%;
    border-radius: 5px;
}


/* facts section */

.fact-data{
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.facts-section{
    background-image: url(images/facts-bg.jpg);
    background-position: center center;
    height: 400px;
}

.facts-content p{
    color: #fff;
    font-size: 30px;
    display: flex;
    font-weight: 600;
    justify-content: flex-end;
    margin: 0;
}

.fact-heading{
    text-transform: uppercase;
    font-size: 64px;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 700;
    float: right;
}

.box h2{
    color: #fff;
    font-weight: 700;
    text-align: center;
}
.box p{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 600;
}

.counters{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}


/* testimonials */

.testimonials-section hr {
    width: 70px;
    border: 2px solid #ffbc13;
    opacity: 1;
    margin: 0;
    margin-top: 15px;
}

.partners-imgs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    text-align: center;
    align-content: center;
    justify-items: center;
}

.partners-imgs img{
    width: 200px;
    height: 250px;
    border: 5px solid #ffbc13;
}

.testimonials-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.right-testimonial{
    width: 55%;
}


.testim-swiper .testim blockquote::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 2rem;
    height: 2rem;
    width: 2rem;
    background: #eee;
    transform: rotate(45deg);
}

.testim-swiper .testim blockquote {
    padding: 35px;
    background: #eee;
    position: relative;
    margin-bottom: 30px;
    font-size: 14px;
    color: #4b4b4b;
    line-height: 1.5;
    z-index: 9999;
    font-style: italic;
}

.user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
  
.user img{
        height: 80px;
        width: 80px;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info h5{
    text-transform: uppercase;
}

.info p{
    font-size: 13px;
    color: #adadad;
}

.testim-wrapper{
    padding: 0 !important;
}


/* footer */

#footer {
    background-color: #1a1a1a;
    position: relative;
    z-index: 1;
    color: #979797;
}

#footer h5{
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

.footer-inner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.lower-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    border-top: 1px solid #979797;
}

.lower-footer p{
    margin: 0;
    font-size: 14px;
    color: #979797;
}


ul{
    list-style-type: none;
    padding: 0%;
}

.links li a{
    color: #979797;
}

.links li{
    padding: 5px 0px;
}

.links li i{
    color: #979797;
    padding-right: 10px;
}

.links li a:hover{
    color: #ffbc13;
}

.about-footer-content img{
    width: 80px;
    height: 65px;
}

.about-footer-content p{
    font-size: 14px;
    padding-top: 15px;
    margin: 0;
}

.contact-links {
    display: flex;
    gap: 15px;
}

.contact-links h6 {
    margin: 0;
    font-weight: 600;
}

.contact-links a{
    color: #979797;
}

.contact-links a:hover{
    text-decoration: underline;
    color:#979797;
}

.contact-links p a span,.contact-links p{
    font-size: 14px;
    color: #979797;
}

#preloader{
    background: rgba(255, 255, 255, .9) url(images/pre-loader1.gif) no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9999;
}
  

  
/********** MOBILE HEADER ************/


.mobile-header{
    display: none;
}

.mobile-menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2866c72e;
    padding: 10px;
}

.mobile-menu-container .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.mobile-menu-container .logo p{
    line-height: 1;
    display: none;
}

/* mobile menu css */

.canva_expander {
    cursor: pointer;
    display: block;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.canva_expander span {
    height: 2px;
    width: 35px;
    display: block;
    background: #fff;
    cursor: pointer;
    list-style: none;
    margin: 8px 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    margin-left: auto;
}

.canva_expander span.dot2 {
    width: 27px;
}

.canva_expander span.dot4 {
    width: 22px;
}


.hamburger {
    position: absolute;
    top: 20px;
    right: 15px;
    /* line-height: 20px; */
    padding: 5px;
    /* border-radius: 5px; */
    color: #132b2c;
    border: 0;
    font-size: 30px;
    font-weight: bold;
    outline: none;
    z-index: 1111;
    background: none;
}

.cross{
  background:none;
  position:absolute;
  top:5px;
  right:15px;
  padding:7px 15px 0px 15px;
  color:#132b2c;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:22222;
}
#menu{z-index:1111; font-weight:bold; font-size:16px; width:100%; background-color: #fff;  position:absolute; text-align:center; font-size:12px; top: 0; left: 0;min-height: 100%;}
#menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none; padding-top: 80px;}
#menu li {display: block;   padding:20px 0 20px 0;  font-weight: 700;}
#menu li:hover{display: block;    background-color: #fff;}
#menu ul li a { text-decoration:none;  margin: 0px; color:#132b2c;font-size: 14px;}
#menu ul li a:hover {  color: #132b2c; text-decoration:none;}
#menu a{text-decoration:none; color:#132b2c;}

.nav__sub li{
    padding: 10px 0px !important;
}

.fa-chevron-right{
    font-size: 12px;
}

.glyphicon-home{
  color: #132b2c; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}


.nav__item , .nav__item {
	margin-top: 10px;
}

#menu ul .nav__link {
	font-weight: 600;
	color: #27826f;
    /* font-family: 'myregularfont'; */
	text-decoration: none;
}

#menu ul .nav__sub {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
    height: 100vh;
	background-color: #fff;
  color: #27826f;
	opacity: 0;
	display: none;
	transition: all 0.35s ease-in-out;
	transform: translateX(100%);
}

#menu ul .nav__sub.is-active {
  opacity: 1;
  display: block;
  transform: translateX(0%);
}

#menu ul .nav__sub {
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px;
	list-style-type: none;
}

.contact-btn-mobile{
    border-radius: 5px;
    display: flex;
    margin: 0 auto;
    width: max-content;
    border: 1px solid #27826f;
    padding: 10px 20px !important;
    margin-top: 10px;
}

.hamburger, .cross, #menu{
  display: none;
}

.logo img{
    width: 80px;
    height: 50px;
    /* background-color: #fff; */
}

.enquiry-form-section{
    display: none;
}


@media screen and (max-width:576px) {
    .mobile-header{
        display: block;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        z-index: 1111;
    }

    p, .about-content, .facts-content p{
        font-size: 14px;
    }

    .section-lg{
        padding: 30px 30px;
    }

    #site-header, .thumbnail,  .right-testimonial{
        display: none;
    }

    .swiper-slide img, .facts-section{
        height: auto;
    }

    .slider .list .item .content h2{
        font-size: 32px;
    }

    .slider .list .item .content{
        width: 70%;
        top: 35%;   
    }

    .services-inner, .testimonials-section, .partners-imgs, .about-inner, .popup-div, .footer-inner{
        grid-template-columns: repeat(1,1fr);
        gap: 15px;
    }

    .fact-data{
        gap: 20px;
    }

    .counters{
        gap: 15px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .fact-heading{
        font-size: 24px;
    }

    .facts-content{
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    #footer .row{
        gap: 20px;
    }

    .service-section .container{
        padding: 0;
    }

    .links ul li a{
        font-size: 14px;
    }

    .right-popup ul li {
    padding: 5px 0px;
    font-size: 14px;
    }

    .lower-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 15px 15px;
    }

    .lower-footer p{
        font-size: 12px;
    }
}